.communityItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #bf7d60;
}
.communityItem span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
}

.communityItem sub {
  font-style: italic;
  opacity: 0.5;
  padding: 0.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.communityItem button {
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}
