.container {
  position: fixed;
  max-width: 25%;
  min-width: 15rem;
  min-height: 15rem;
  max-height: 80%;
  background-color: white;
  border-top: #bf7d60 solid 8px;
  border-bottom: #bf7d60 solid 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.06);
  overflow: scroll;
}
.container header {
  border-bottom: #bf7d60 solid 2px;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
.container header img {
  width: 3rem;
  border-radius: 50%;
}
.container img {
  width: 2rem;
  border-radius: 50%;
}
.container h3 {
  text-align: center;
  padding: 0.5rem;
}
.nameGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 90%;
  /* color: #bf7d60; */
}
.nameGroup span {
  border-bottom: #bf7d60 solid 1px;
  text-align: center;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
}
.nameGroup sub {
  text-align: center;
  font-size: 1rem;
  opacity: 0.6;
}
.communityList {
  display: flex;
  flex-direction: column;
}
.form {
  border: black 1px solid;
  width: 90%;
  padding: 0.2rem;
  margin-left: 5%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.form input {
  width: 90%;
  padding: 0.2rem;
}
.form input:focus {
  outline: none;
}
.search {
  cursor: pointer;
}
/* fff3e6 */
/* bf7d60 */
