.post {
  width: 90%;
  min-height: 14rem;
  max-height: 28rem;
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 3rem;
}
.header {
  width: 100%;
  background-color: #bf7d60;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  color: #fff3e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.userGroup {
  height: 4rem;
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0.5rem;
}
.userGroup img {
  width: 4rem;
  border-radius: 50%;
  padding-left: 0.5rem;
  border: transparent 1px solid;
}
.userNameGroup {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  font-size: 1.4rem;
}
.userNameGroup sub {
  opacity: 0.6;
  font-size: 1rem;
}
.postContent {
  width: 98%;
  min-height: 8rem;
  max-height: 15rem;
  background-color: #fff3e6;
  margin-bottom: 0.5rem;
}

/* fff3e6 */
/* bf7d60 */
