.container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}
.container h1 {
  color: #bf7d60;
  border-bottom: #bf7d60 solid 1px;
  margin-bottom: 2rem;
  width: 80%;
  padding: 1rem;
  font-size: 4rem;
}
.returnBtn {
  width: 4rem;
  color: #bf7d60;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
