.jumbotron {
  margin: 1rem auto;
  width: 70%;
  height: 35rem;
  background-color: #bf7d60;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.divider {
  width: 5px;
  height: 90%;
  background-color: #fff3e6;
  align-self: center;
  border-radius: 10px;
}
