.bgModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.15);
}
.modal {
  min-width: 35%;
  min-height: 20rem;
  max-height: 30rem;
  background-color: #fff3e6;
  border: solid 2px #bf7d60;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.modal header {
  border-bottom: #bf7d60 solid 1px;
  width: 80%;
  margin: 0 10%;
  height: 3rem;
  font-size: 2rem;
  color: #bf7d60;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.modal header button {
  border: none;
  background-color: #fff3e6;
  color: #bf7d60;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  left: 0;
}

.modalContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modalContent section {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.modalContent h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #bf7d60;
}
.modalContent section button {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  margin-top: 0.2rem;
  width: fit-content;
  color: white;
  background-image: linear-gradient(180deg, #bf7d60, #96624c);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.modalContent section button:active {
  background-image: linear-gradient(180deg, #895944, #96624c);
}
.uploadGroup label {
  border-bottom: #bf7d60 solid 1px;
  max-width: fit-content;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}
.uploadGroup input[type="file"] {
  width: 60%;
  font-size: 0.8rem;
  margin-top: 1rem;
  border: none;
  transform: translateY(-0.8rem);
}
.deleteGroup {
  width: 100% !important;
  bottom: 0;
  position: absolute;
  margin-bottom: 1rem;
}
.deleteGroup h3 {
  color: #da4100;
  border-top: #da4100 solid 2px;
  width: 100%;
  padding-left: 1rem;
}
.deleteGroup button {
  background-image: linear-gradient(180deg, #ef341f, #c22817) !important;
  margin-top: 0.5rem !important;
  margin-left: 1rem;
}
