.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}
.form div {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form label {
  color: #bf7d60;
  font-size: 1.5rem;
}
.form input {
  color: #bf7d60;
  border: #bf7d60 solid 2px;
  background-color: #fff3e6;
  border-radius: 10px;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.submit {
  width: 50%;
  background-color: #bf7d60 !important;
  color: #fff3e6 !important;
  cursor: pointer;
  background-image: linear-gradient(180deg, #bf7d60, #96624c);
}
.submit:active {
  color: rgba(255, 243, 230, 0.5) !important;
  background-image: linear-gradient(180deg, #895945, #895945);
}
