.jumbotron {
  margin: 1rem auto;
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 2rem;
  right: 0;
  position: absolute;
  transform: translateX(-19rem) scale(0.9);
}
.divider {
  width: 5px;
  height: 90%;
  background-color: #fff3e6;
  align-self: center;
  border-radius: 10px;
}
