.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container img {
  width: 14rem;
  position: absolute;
  transform: translateX(2rem) translateY(4rem);
  border: #bf7d60 solid 4px;
  border-radius: 50%;
}
.profile {
  height: 25rem;
  width: 70%;
  position: relative;
}
.nameGroup {
  position: absolute;
  color: #bf7d60;
  transform: translateX(2rem) translateY(18rem);
  font-size: 1.5rem;
  width: 14rem;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #bf7d60;
}
.nameContainer {
  display: flex;
  justify-content: space-between;
}
.editBtn {
  cursor: pointer;
}
.accountEdit {
  cursor: pointer;
  position: absolute;
  transform: translateX(16rem) translateY(4rem);
  font-size: 2rem;
  color: rgba(191, 125, 96, 0.6);
}
.accountEdit:hover {
  color: #bf7d60;
}
