.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 2rem;
}
.feed {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed h1 {
  color: #bf7d60;
  margin-bottom: 2rem;
  width: 20rem;
  padding-left: 1rem;
  font-size: 3rem;
}
