.container {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  overflow: hidden;
}
.active {
  transform: translateX(0%) !important;
}

.button {
  background-color: #bf7d60;
  padding: 0.2rem;
  border-radius: 10px;
  font-size: 2rem;
  transform: translateX(-105%);
  transition: transform 0.2s ease-in;
  margin-left: 0.2rem;
  cursor: pointer;
}
.button:hover {
  color: rgba(255, 255, 255, 0.805);
}
.button:active {
  color: white;
}
